:root {
    --back: rgb(0, 0, 0);
    --degrade: linear-gradient(215deg, rgba(64,64,64,1) , rgba(13,13,97,1) 49%, rgb(14, 74, 158) 100%);
    --cinza-escuro:rgb(53, 53, 53);
    --cinza:rgb(117, 117, 117);
    --cinza-claro:rgb(172, 172, 172);
  }

body {
    background: var(--degrade);

    color: rgb(255, 255, 255);
}

header {
    width: 100vh;
    height: 10vh;
    padding: 2.5%;
    background-color: var(--cinza-escuro);
}

section {
    background-color: var(--cinza);
    height: 20vh;
}

footer {
    width: 100vh;
    height: 10vh;
    background-color: var(--cinza-escuro);
}
